<div class="navbar bg-base-100">
    <div class="flex-1">

        <a class="btn btn-ghost text-xl">awake</a>

    </div>
    <div class="flex-none">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">


                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS Navbar component"
                         src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"/>
                </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">


                <li><a class="justify-between">내 프로필</a></li>
                <li>
                    <a href="https://kauth.kakao.com/oauth/authorize?client_id={{restApiKey}}&redirect_uri={{redirectUrl}}&response_type=code">
                    로그인
                    </a>
                </li>
                <li>
                    <a>로그아웃</a>
                </li>


            </ul>
        </div>
    </div>
</div>