<!doctype html>
<html>
<head>
    <title>awake</title>
    <!-- 데이지 ui -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <!-- 폰트 어섬 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- 테일윈드 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- view point 설정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body>

{{> layouts/nav}}

{{{body}}}

{{> layouts/bottom}}

</body>
</html>